<div class="center hero-unit">
  <h1>Bienvenue sur le site Web App</h1>

  <h2>
    Page d'accueil du site internet Web App basé sur le 
    <a href="http://railstutorial.org/">Tutoriel Ruby on Rails</a>.
  </h2>

  <%= link_to "Inscivez vous!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("http://mit.com.au/wordpress/wp-content/uploads/2013/10/ruby-on-rails-development.jpg", alt: "Rails", :width => 150, :height => 150), 'http://rubyonrails.org/' %>